<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356491468405-agsvhjfvcm364p74vvf7i8s6v009an6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356491468405-agsvhjfvcm364p74vvf7i8s6v009an6k</string>
	<key>API_KEY</key>
	<string>AIzaSyABJvHjE6fDxt3yzmCdvET1kjDoPo36hCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>356491468405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.marinenko.nanochat</string>
	<key>PROJECT_ID</key>
	<string>nanochat-0x77dev</string>
	<key>STORAGE_BUCKET</key>
	<string>nanochat-0x77dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356491468405:ios:8773e004f9a23cc0d4e23c</string>
	<key>DATABASE_URL</key>
	<string>https://nanochat-0x77dev.firebaseio.com</string>
</dict>
</plist>